<!doctype html>
<head>
    <link rel="stylesheet" href={{url_for('static',filename='css/uikit.min.css')}}
    <link rel="stylesheet" href={{url_for('static',filename='css/main.css')}}
    <script src={{url_for('static', filename='js/jquery-3.2.1.slim.js')}}></script>
    <script src={{url_for('static', filename='js/uikit.min.js')}}></script>
    <script src={{url_for('static', filename='js/uikit-icons.min.js')}}></script>
</head>
<title>Vlog`n`chips admin panel</title>

{% block body %}{% endblock %}

